.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #125520;
  text-align: center;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.home-logo {
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 36px;
  margin: 10px 0;
  white-space: nowrap;  /* 한 줄로 나오도록 설정 */
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;  /* 버튼 사이 간격 조정 */
  margin: 20px 0;
  flex-wrap: wrap;  /* 작은 화면에서 버튼이 줄 바꿈되도록 설정 */
}

.order-option {
  width: 444px;
  height: 505px;
  font-size: 36px; /* 글씨 크기 더 크게 조정 */
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  color: red;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* 텍스트를 아래쪽으로 정렬 */
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.order-option:hover {
  background-color: #f8f8f8;
}

.option-image {
  max-width: 100%;
  max-height: 60%; /* 이미지 크기 조정 */
  margin-bottom: 10px;
}

.instruction-text {
  color: white;
  margin-top: 20px;
  font-size: 24px; /* 글씨 크기 더 크게 조정 */
  white-space: nowrap; /* 한 줄로 유지 */
}

.back-button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #fff;
  color: #125520;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
  background-color: #f8f8f8;
  color: #125520;
}

/* 반응형 디자인 설정 */
@media (max-width: 1024px) {
  .order-option {
      width: 80%;
      height: auto;
      padding: 40px 20px;
      font-size: 28px;
  }

  .instruction-text {
      font-size: 20px;
  }
}

@media (max-width: 768px) {
  .order-option {
      width: 100%;
      font-size: 24px;
  }

  .instruction-text {
      font-size: 18px;
  }
}
